
<p *ngFor ="let station of stations">
    {{station.name}}
</p>
<!DOCTYPE html>
<html>
<head>
<style>

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th{
    background-color: green;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #98ec98;
}
</style>
</head>
<body>

    <h2>STATIONS</h2>

<table>
  <tr>
    <th>Station</th>
    <th>State</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>Arc del triomf</td>
    <td>NA</td>
    <td>Value 3    
        <a id="btn1" [routerLink]="['api/stations/1']">
        <button>View</button>
    </a></td>
  </tr>
  <tr>
    <td>Plaça Catalunya</td>
    <td>Available</td>
    <td>Value 6    
        <a id="btn2" [routerLink]="['api/stations/2']">
        <button>View</button>
    </a></td>
  </tr>
  <tr>
    <td>Av. Sarrià</td>
    <td>Available</td>
    <td>Value 9    
        <a id="btn3" [routerLink]="['api/stations/3']">
        <button>View</button>
    </a></td>
  </tr>
  <tr>
    <td>Les Corts</td>
    <td>Available</td>
    <td>Value 12   
        <a id="btn4" [routerLink]="['api/stations/4']">
        <button>View</button>
    </a></td>
  </tr>



</table>

</body>
</html>

