

<!DOCTYPE html>
<html>
<head>
<style>

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th{
    background-color: green;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #98ec98;
}
</style>
</head>
<body>

        <h2>Bikes</h2>
        <div>
            <table>
                    <th>Station</th>
                    <th>State</th>
                    <th>Description</th>

                <tr *ngFor="let bike of bikeList">
                    <td>{{bike.name}}</td>
                    <td>{{bike.kms}}</td>
                    <td>{{bike.description}}</td>
                <td>
                    <button class="btn btn-primary" [routerLink]="['/api/bike', station._id]" >View
                    </button>
                    </td>
                </tr>
            </table>
        </div>
        <div>
        <table>
                <th>Bike</th>
                <th>Kms</th>
                <th>Description</th>
            <tr *ngFor="let bike of unassignedbikes">
                <td>{{bike.name}}</td>
                <td>{{bike.kms}}</td>
                <td>{{bike.description}}</td>
                <td>
                    <a (click)="postBikeStation(bike._id, station._id)"></a>
                </td>
            </tr>
        </table>
        </div>
</body>
</html>

